.list {
  display: flex;

  .listContainer {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    .widgets {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%; 
    }
  }
}
